#navbarDropdown{
  color: black;
}

.navbar{
  background-color:rgb(236, 155, 49);
}

body{
  background-color:#101820FF;
  font-family: 'quicksand', sans-serif;
  
}

h1{
  margin: 50px;
  text-align: center;
  font-size: 110px;
  font-weight: 400;
  color: whitesmoke;
}

h3{
text-align: center;
color:whitesmoke;
font-weight: bold;
}

.names{
color:whitesmoke;
position:relative;
left:5%;
font-size: 20px
}

.col-3{
border: 1px solid whitesmoke;
padding-top:20px;
padding-left:0
}

.col-6{
border: 1px solid whitesmoke;
/* left:5%; */
padding-top:20px;
position: relative
}

.dropdown-item{
position: relative;
background-color: #F9F9F9;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
float: auto;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
margin-right:100px;
}

h2{
  text-align:center;
}

.col{
  display: grid;
  place-items: center;
  margin-top:25px;
  margin-bottom: 25px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

p{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  color:whitesmoke
}

body {
  padding: 0;
  margin: 0;
}

/* Leaflet Formatting */
#map,
body,
html {
  height: 100%;
  width: 100%;
}

.legend {
  padding: 15px;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.property-type{
  color:black;
}

.all-residential {
  color: #FF69B4
  ;
}

.legend .townhouse {
  color: #8b0000 ;
}

.legend .condo-coop {
  color: #00008B;
}

.legend .multi-family {
  color: #ff8c00;
}

.legend .single-family {
  color: #039c4b ;
}

.popupCustom .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:18px;
  line-height:24px;
  font-family: Helvetica, serif;
  }
.popupCustom .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.popupCustom .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.popupCustom .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }

/* Four Card Decks */

.card {
  border-radius: 30px;
}

.card-title {
  font-weight: bold;
  text-align:center;
  font-size:30px;
}

.card-text {
  color: black;
}

.card-image {
  width: 120px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.second {
  position:relative;
}

.third {
  position: relative;
}

.first{
  position:relative;

}

.last{
  position:relative;
}

.container-fluid{
  margin-bottom: 50px;
}

.test{
  position:relative
}

/*Machine Learning Animation*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight
}


/*Past 10 Years*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft
}

/*Covid and Leaflet*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown
}

.ml_intro{
  text-align: center;
}

.form{
  text-align: center;
  color:black;
  background-color:rgb(236, 155, 49);
  padding-bottom: 20px;
  padding-top:20px
}

.Results{
  text-align: center;
  margin-top: 30px;
}