#navbarDropdown{
  color: black;
}

.navbar{
  background-color:rgb(236, 155, 49);
}

body{
  background-color:#101820FF;
  font-family: 'quicksand', sans-serif;
  
}

h1{
  margin: 50px;
  text-align: center;
  font-size: 110px;
  font-weight: 400;
  color: whitesmoke;
}

h3{
text-align: center;
color:whitesmoke;
font-weight: bold;
}

.names{
color:whitesmoke;
position:relative;
left:5%;
font-size: 20px
}

.col-3{
border: 1px solid whitesmoke;
padding-top:20px;
padding-left:0
}

.col-6{
border: 1px solid whitesmoke;
/* left:5%; */
padding-top:20px;
position: relative
}

.dropdown-item{
position: relative;
background-color: #F9F9F9;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
float: auto;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
margin-right:100px;
}

h2{
  text-align:center;
}

.col{
  display: grid;
  place-items: center;
  margin-top:25px;
  margin-bottom: 25px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

p{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  color:whitesmoke
}

body {
  padding: 0;
  margin: 0;
}

/* Leaflet Formatting */
#map,
body,
html {
  height: 100%;
  width: 100%;
}

.legend {
  padding: 15px;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.property-type{
  color:black;
}

.all-residential {
  color: #FF69B4
  ;
}

.legend .townhouse {
  color: #8b0000 ;
}

.legend .condo-coop {
  color: #00008B;
}

.legend .multi-family {
  color: #ff8c00;
}

.legend .single-family {
  color: #039c4b ;
}

/* Marker Popups */
.popupCustom .leaflet-popup-content-wrapper {
  background:#101820FF;
  color:white;
  font-size:18px;
  line-height:24px;
  font-family: Quicksand;
  }
.popupCustom .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.popupCustom .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.popupCustom .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }

/* Key Statistics (Popup) */
.popupSummary .leaflet-popup-content-wrapper {
  background:#101820FF;
  color:white;
  font-size:18px;
  line-height:24px;
  font-family: Quicksand;
  }
.popupSummary .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.popupSummary .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.popupSummary .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  border: none;
  box-shadow: none;
  background: transparent;
  }


/* Four Card Decks */

.card {
  border-radius: 30px;
}

.card-title {
  font-weight: bold;
  text-align:center;
  font-size:30px;
}

.card-text {
  color: black;
}

.card-image {
  width: 120px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.second {
  position:relative;
}

.third {
  position: relative;
}

.first{
  position:relative;

}

.last{
  position:relative;
}

.title{
  margin-bottom: 50px;
}

.test{
  position:relative
}

/*Machine Learning Animation*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight
}


/*Past 10 Years*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft
}

/*Covid and Leaflet*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown
}

.ml_intro{
  text-align: center;
}

.form{
  text-align: center;
  color:black;
  background-color:rgb(236, 155, 49);
  padding-bottom: 20px;
  padding-top:20px
}

.Results{
  text-align: center;
  margin-top: 30px;
}


footer{
  background-color:rgb(236, 155, 49);
}

.orangefin{
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-left: 10%;
}

.extra-marker{background:url("../img/markers_default.png") no-repeat 0 0;width:35px;height:46px;position:absolute;left:0;top:0;display:block;text-align:center}.extra-marker-shadow{background:url("../img/markers_shadow.png") no-repeat 0 0;width:36px;height:16px}@media (min--moz-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:1.5dppx){.extra-marker{background-image:url("../img/markers_default@2x.png");background-size:540px 184px}.extra-marker-shadow{background-image:url("../img/markers_shadow@2x.png");background-size:35px 16px}}.extra-marker i{color:#fff;margin-top:10px;display:inline-block;font-size:14px}.extra-marker i.icon{margin-right:0;opacity:1}.extra-marker-circle-red{background-position:0 0}.extra-marker-circle-orange-dark{background-position:-36px 0}.extra-marker-circle-orange{background-position:-72px 0}.extra-marker-circle-yellow{background-position:-108px 0}.extra-marker-circle-blue-dark{background-position:-144px 0}.extra-marker-circle-blue{background-position:-180px 0}.extra-marker-circle-cyan{background-position:-216px 0}.extra-marker-circle-purple{background-position:-252px 0}.extra-marker-circle-violet{background-position:-288px 0}.extra-marker-circle-pink{background-position:-324px 0}.extra-marker-circle-green-dark{background-position:-360px 0}.extra-marker-circle-green{background-position:-396px 0}.extra-marker-circle-green-light{background-position:-432px 0}.extra-marker-circle-black{background-position:-468px 0}.extra-marker-circle-white{background-position:-504px 0}.extra-marker-square-red{background-position:0 -46px}.extra-marker-square-orange-dark{background-position:-36px -46px}.extra-marker-square-orange{background-position:-72px -46px}.extra-marker-square-yellow{background-position:-108px -46px}.extra-marker-square-blue-dark{background-position:-144px -46px}.extra-marker-square-blue{background-position:-180px -46px}.extra-marker-square-cyan{background-position:-216px -46px}.extra-marker-square-purple{background-position:-252px -46px}.extra-marker-square-violet{background-position:-288px -46px}.extra-marker-square-pink{background-position:-324px -46px}.extra-marker-square-green-dark{background-position:-360px -46px}.extra-marker-square-green{background-position:-396px -46px}.extra-marker-square-green-light{background-position:-432px -46px}.extra-marker-square-black{background-position:-468px -46px}.extra-marker-square-white{background-position:-504px -46px}.extra-marker-star-red{background-position:0 -92px}.extra-marker-star-orange-dark{background-position:-36px -92px}.extra-marker-star-orange{background-position:-72px -92px}.extra-marker-star-yellow{background-position:-108px -92px}.extra-marker-star-blue-dark{background-position:-144px -92px}.extra-marker-star-blue{background-position:-180px -92px}.extra-marker-star-cyan{background-position:-216px -92px}.extra-marker-star-purple{background-position:-252px -92px}.extra-marker-star-violet{background-position:-288px -92px}.extra-marker-star-pink{background-position:-324px -92px}.extra-marker-star-green-dark{background-position:-360px -92px}.extra-marker-star-green{background-position:-396px -92px}.extra-marker-star-green-light{background-position:-432px -92px}.extra-marker-star-black{background-position:-468px -92px}.extra-marker-star-white{background-position:-504px -92px}.extra-marker-penta-red{background-position:0 -138px}.extra-marker-penta-orange-dark{background-position:-36px -138px}.extra-marker-penta-orange{background-position:-72px -138px}.extra-marker-penta-yellow{background-position:-108px -138px}.extra-marker-penta-blue-dark{background-position:-144px -138px}.extra-marker-penta-blue{background-position:-180px -138px}.extra-marker-penta-cyan{background-position:-216px -138px}.extra-marker-penta-purple{background-position:-252px -138px}.extra-marker-penta-violet{background-position:-288px -138px}.extra-marker-penta-pink{background-position:-324px -138px}.extra-marker-penta-green-dark{background-position:-360px -138px}.extra-marker-penta-green{background-position:-396px -138px}.extra-marker-penta-green-light{background-position:-432px -138px}.extra-marker-penta-black{background-position:-468px -138px}.extra-marker-penta-white{background-position:-504px -138px}.extra-marker .fa-number:before{content:attr(number)}