<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
 
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Bootstrp JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Import AniJS -->
  <script src="{{ url_for('static', filename='js/anijs-min.js')}}"></script>
  
  <!-- AniCollection.css library -->

  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

  <head>
    <link rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css">
</head>

<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

  <title>Inventory vs. Property Type</title>
</head>

<body>


<!-- Start of navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:5000/"> <img width="50px" height="50px" src="https://www.freepnglogos.com/uploads/logo-home-png/house-silhouette-home-buildings-houses-home-silhouette-15.png" alt=Home> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="orangefin"> <img src="https://www.freepnglogos.com/uploads/orange-png/orange-transparent-png-file-web-icons-png-26.png" alt="orange" width=50px height=50px> OrangeFin </div>
      <div class="topnav-right">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Visualizations
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/history">Past 10 Years</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/covid">COVID Data</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/map">Leaflet Map</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/predictions">Machine Learning</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/api/v1.0/CaHousing">Data</a>
            </li>
        </div>
  </nav>
  <!-- End of navbar -->

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- polyfill.io is the library for using newer JavaScript features (such as Object.assign) in older browers. -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- Icons -->
  <script src="{{ url_for('static', filename='js/leaflet.extra-markers.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.extra-markers.min.css') }}">

  <!-- Our CSS
  <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
</head>

<body>
  <!-- The div that holds our map -->
  <div id="map"></div>

  <!-- Our JavaScript file -->
  <script src="{{ url_for('static', filename='js/logic.js') }}"></script>

</body>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a></a>
    <span class="mb-3 mb-md-0 text-muted"> <img src="https://www.freepnglogos.com/uploads/orange-png/orange-transparent-png-file-web-icons-png-26.png" width=35px height=35px alt="orange"> © 2022 OrangeFin</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="https://github.com/cannon-kaycee/Project-4.git"><img class="bi" width="50" height="30" src="https://logos-world.net/wp-content/uploads/2020/11/GitHub-Logo-700x394.png"><use xlink:href="#github"></use></img></a></li>
  </ul>
</footer>
</html>
